.catalog {
  margin-bottom: 30px;
}

.catalog__list {
  @include list-reset();
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-top: 135px;
    padding-top: 7px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: -79px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: -68px;
  }
}
