.categories__list {
  @include list-reset();
}

.categories__item {
  margin-bottom: 20px;
  padding: 20px;
  background-color: $grey;
}

.categories__title {
  margin: 0;
  font-family: $heading-font;
  color: $heading-color;
  font-size: 24px;
  line-height: 37px;
  font-weight: 300;
  text-transform: uppercase;
}

.categories__description {
  @include border-bottom(1px, #d9d9d9);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.categories__link {
  font-family: $heading-font;
  color: $heading-color;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
