.example {
  padding-top: 18px;
  padding-bottom: 46px;
  background-color: $grey;
}

.example .container {
  padding-left: 20px;
  padding-right: 20px;
}

.example-title {
  margin: 0;
  margin-bottom: 23px;
  font-family: $heading-font;
  color: $heading-color;
  font-size: 36px;
  line-height: 60px;
  font-weight: 300;
}

.example__lid {
  margin: 0;
  margin-bottom: 25px;
}

.example__parameters {
  margin-bottom: 34px;
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  @include list-reset();
}

.example__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__parameter {
  font-family: $heading-font;
  color: $heading-color;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__comment {
  display: block;
  position: absolute;
  bottom: -17px;
  padding: 0 5px;
  text-align: center;
  width: 87px;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  background-color: $grey;
}

.example__price {
  padding-top: 20px;
  font-family: $heading-font;
  color: $heading-color;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__slider-list {
  @include list-reset();
  margin-bottom: 20px;
}

.example__slider-item {
  cursor: pointer;
}

.example__img {
  display: none;
}

.example__img--show {
  display: block;
}

.example__progress-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.example__button--toggle,
.example__button--toggle-active {
  position: relative;
  width: 84px;
  height: 14px;
  font-size: 0;
  border: 1px solid #cdcdcd;
  border-radius: 7px;
  background-color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}

.example__button--toggle::before,
.example__button--toggle-active::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
  transition: left 0.3s cubic-bezier(0.6, 0.1, 0.15, 0.8);
}

.example__button--toggle::before {
  left: 3px;
}

.example__button--before,
.example__button--after {
  font-family: $heading-font;
  color: $heading-color;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: $tablet-width) {

  .example {
    padding-top: 43px;
    background-color: $white;
    background-image: linear-gradient(to top, #f2f2f2 200px, transparent 200px);
  }

  .example .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .example-title {
    margin-bottom: 66px;
    font-size: 60px;
  }

  .example__lid {
    padding-right: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__parameters {
    display: flex;
    flex-direction: row;
  }

  .example__item:first-child {
    margin-right: 42px;
  }

  .example__comment {
    background-color: $white;
  }

  .example__price {
    margin-left: auto;
    width: 130px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {

  .example .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .example__discription {
    width: 570px;
  }

  .example__comment {
    background-color: $grey;
  }
}


