.example {
  padding-top: 18px;
  padding-bottom: 35px;
  background-color: $grey;
}

.example-title {
  margin: 0;
  margin-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: $heading-font;
  color: $heading-color;
  font-size: 36px;
  line-height: 60px;
  font-weight: 300;
}

.example__lid {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.example__parameters {
  margin-bottom: 34px;
  padding-left: 20px;
  padding-right: 20px;
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  @include list-reset();
}

.example__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__parameter {
  font-family: $heading-font;
  color: $heading-color;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__comment--weight {
  left: 20px;
}

.example__comment--time {
  left: 19px;
}

.example__comment {
  display: block;
  position: absolute;
  bottom: -17px;
  padding: 0 5px;
  text-align: center;
  width: 87px;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  background-color: $grey;
}

.example__price {
  padding-top: 20px;
  font-family: $heading-font;
  color: $heading-color;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__slider-list {
  @include list-reset();
  margin-bottom: 32px;
}

.example__img {
  display: none;
  width: 100%;
}

.example__img--show {
  display: block;
}

.example__progress-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.example__button--toggle,
.example__button--toggle-active {
  position: relative;
  width: 84px;
  height: 14px;
  margin-left: 9px;
  margin-right: 9px;
  font-size: 0;
  border: 1px solid #cdcdcd;
  border-radius: 7px;
  background-color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}

.example__button--toggle::before,
.example__button--toggle-active::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
  transition: left 0.3s cubic-bezier(0.6, 0.1, 0.15, 0.8);
}

.example__button--toggle::before {
  left: 3px;
}

.example__button--toggle-active::before {
  left: 43px;
}

.example__button--before,
.example__button--after {
  font-family: $heading-font;
  color: $heading-color;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.example__range {
  display: none;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 43px;
    padding-bottom: 30px;
    background-color: $white;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 50%),
      linear-gradient(to top, #eaeaea 462px, transparent 462px);
  }

  .example__discription {
    margin-bottom: 80px;
  }

  .example-title {
    margin-bottom: 66px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 60px;
  }

  .example__lid {
    margin-bottom: 49px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__parameters {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
  }

  .example__comment--weight {
    left: 22px;
  }

  .example__comment--time {
    left: 9px;
  }

  .example__slider {
    position: relative;
    width: 690px;
  }

  .example__slider-list {
    position: relative;
    min-height: 581px;
    margin-bottom: 17px;
    left: 46px;
  }

  .example__slider-item {
    position: absolute;
  }

  .example__img {
    display: block;
    width: 690px;
    margin: 0 auto;
  }

  .example__progress-wrap {
    position: absolute;
    width: 570px;
    bottom: 20px;
    left: 101px;
    z-index: 20;
  }

  .example__item {
    width: 162px;
    height: 72px;
  }

  .example__slider-item--before {
    clip: rect(0, 337px, 517px, 0);
  }

  .example__slider-item--after {
    clip: rect(0, 690px, 517px, 337px);
  }

  .example__item:first-child {
    margin-right: 42px;
  }

  .example__parameter {
    font-size: 30px;
    line-height: 37px;
  }

  .example__comment {
    width: 140px;
    bottom: -6px;
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
  }

  .example__item:first-child .example__comment {
    width: 114px;
  }

  .example__price {
    margin-left: auto;
    margin-top: 9px;
    width: 180px;
    padding-top: 0;
    font-size: 20px;
    line-height: 26px;
    text-align: right;
  }

  .example__button--before,
  .example__button--after {
    padding: 0;
    padding-bottom: 6px;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted #cdcdcd;

    &:hover {
      border-bottom: 1px solid #cdcdcd;
    }

    &:active {
      border-bottom: 1px solid transparent;
    }
  }

  .example__button--before {
    margin-right: 23px;
  }

  .example__button--after {
    margin-left: 23px;
  }

  .example__button--toggle {
    display: none;
  }

  /* example range */
  /* basic styles */
  .example__range {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    appearance: none;

    display: block;
    border: none; /* FF */
    width: 100%; /* FF */
    padding: 0; /* IE */
  }

  .example__range:focus {
    outline: none;
  }

  /* webkit */
  .example__range::-webkit-slider-runnable-track {
    display: block;
    width: 100%;
    height: 6px;
    /*margin-top: -9px;*/
    /*margin-left: 23px;
    margin-right: 23px;*/
    color: transparent;
    /*border: none;*/
    border-color: transparent;
    border-width: 15px 0;
    border-radius: 3px;
    background: #cdcdcd;
    cursor: pointer;
  }

  .example__range::-webkit-slider-thumb {
    // -webkit-appearance: none;
    appearance: none;
    margin-top: -12px;
    height: 30px;
    width: 30px;
    border: 11px solid #ffffff;
    border-radius: 50%;
    background: #68b738;
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #cdcdcd, 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .example__range:hover::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #cdcdcd, 0 3px 5px 0 rgba(0, 0, 0, 0.9);
  }

  .example__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #cdcdcd, 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  }

  .example__range:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px #68b738, 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  }

  .example__range:focus::-webkit-slider-runnable-track {
    background: #919191;
  }

  /* firefox */
  .example__range::-moz-range-track {
    display: block;
    width: 100%;
    height: 6px;
    /*margin-top: -9px;*/
    /*margin-left: 23px;
    margin-right: 23px;*/
    color: transparent;
    border: none;
    border-radius: 3px;
    background: #cdcdcd;
    cursor: pointer;
  }

  .example__range::-moz-range-thumb {
    /*margin-top: -12px;*/
    // -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    border: 11px solid #ffffff;
    border-radius: 50%;
    background: #68b738;
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #cdcdcd, 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  .example__range:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
  }

  .example__range:focus::-moz-range-track {
    background: #cdcdcd;
  }

  .example__range::-moz-range-progress {
    background: #cdcdcd;
  }

  .example__range:hover::-moz-range-thumb {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #cdcdcd, 0 3px 5px 0 rgba(0, 0, 0, 0.9);
  }

  .example__range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #cdcdcd, 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  }

  .example__range:active::-moz-range-thumb {
    box-shadow: 0 0 0 2px #68b738, 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  }

  /* IE (fuck it) */
  .example__range::-ms-track {
    display: block;
    width: 100%;
    height: 6px;
    /*margin-top: -9px;*/
    /*margin-left: 23px;
    margin-right: 23px;*/
    color: transparent;
    border-color: transparent;
    border-width: 15px 0;
    background: transparent;
    cursor: pointer;
  }

  .example__range::-ms-thumb {
    /*margin-top: -12px;*/
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    border: 11px solid #ffffff;
    border-radius: 50%;
    background: #68b738;
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #cdcdcd, 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }

  .example__range::-ms-fill-lower {
    background: #cdcdcd;
    border-radius: 3px;
  }

  .example__range::-ms-fill-upper {
    background: #cdcdcd;
    border-radius: 3px;
  }

  .example__range:focus::-ms-fill-lower {
    background: #cdcdcd;
  }

  .example__range:focus::-ms-fill-upper {
    background: #cdcdcd;
  }

  .example__range:hover::-ms-thumb {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #cdcdcd, 0 3px 5px 0 rgba(0, 0, 0, 0.9);
  }

  .example__range:focus::-ms-thumb {
    box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #cdcdcd, 0 3px 5px 0 rgba(0, 0, 0, 0.3);
  }

  .example__range:active::-ms-thumb {
    box-shadow: 0 0 0 2px #68b738, 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 23px;
    padding-bottom: 17px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3) calc(50% + 323px), rgba(255, 255, 255, 0) calc(50% + 323px)),
      linear-gradient(to top, #eaeaea 462px, transparent 462px);
  }

  .example .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
  }

  .example__discription {
    width: 570px;
    margin-bottom: 0;
    padding-top: 56px;
  }

  .example-title {
    margin-bottom: 146px;
    padding-left: 0;
    padding-right: 0;
  }

  .example__lid {
    margin-bottom: 66px;
    padding-left: 0;
    padding-right: 120px;
  }

  .example__list {
    margin-bottom: 50px;
  }

  .example__parameters {
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }

  .example__comment {
    background-color: $grey;
  }

  .example__price {
    width: 100%;
    text-align: left;

    & span {
      display: inline-block;
      margin-left: 60px;
    }
  }

  .example__img {
    width: 650px;
  }

  .example__progress-wrap {
    margin-right: 0;
    bottom: auto;
    top: 556px;
    left: 98px;
  }

  .example__slider-list {
    margin-bottom: 40px;
    left: 19px; //35
  }

  .example__slider-item--before {
    clip: rect(0, 362px, 517px, 0);
  }

  .example__slider-item--after {
    clip: rect(0, 690px, 517px, 362px);
  }
}
