.good-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 24px;
  border: 1px solid #ededed;
  border-bottom: 0;
}

.good__data {
  width: 138px;
}

.good-list__title {
  margin: 0;
  padding-top: 25px;
  font-family: $heading-font;
  color: $heading-color;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.good-list__table {
  width: 100%;
  font-size: 12px;
}

.good-list__value {
  text-align: right;
}

.good-list__button {
  width: 100%;
  font-family: $heading-font;
  color: $white;
  height: 40px;
  font-size: 14px;
  line-height: 18px;
  background-color: $primary-color;
}

@media (min-width: $tablet-width) {
  .good-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .good-list__item {
    flex-direction: column;
    align-items: center;
    width: 324px;
    margin-bottom: 60px;
    background-color: $grey;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .good-list__item {
    width: 245px;
  }
}
