.good-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 24px;
  border: 1px solid #ededed;
  border-bottom: 0;
}

.good-list__data {
  width: 138px;
}

.good-list__title {
  margin: 0;
  margin-bottom: 12px;
  padding-top: 21px;
  padding-right: 50px;
  font-family: $heading-font;
  color: $heading-color;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.good-list__table {
  width: 100%;
  font-size: 12px;
  line-height: 12px;
}

.good-list__value {
  text-align: right;
}

.good-list__img {
  height: 140px;
}

.good-list__button {
  width: 100%;
  /*margin-bottom: -3px;*/
  font-family: $heading-font;
  color: $white;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  background-color: $primary-color;
}

@media (min-width: $tablet-width) {
  .good-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .good-list__item {
    flex-direction: column;
    align-items: center;
    width: 324px;
    margin-bottom: 143px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
    background-color: $grey;
    border: none;
  }

  .good-list__img-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 208px;
    margin-top: -82px;
    margin-bottom: 10px;
  }

  .good-list__img {
    height: auto;
  }

  .good-list__data {
    margin-bottom: 30px;
  }

  .good-list__data,
  .good-list__button {
    width: 248px;
  }

  .good-list__title {
    margin: 0 auto;
    margin-bottom: 18px;
    width: 130px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
  }

  .good-list__table {
    font-size: 16px;
    line-height: 16px;
    border-collapse: collapse;
  }

  .good-list__parametr,
  .good-list__value {
    padding: 8px 0;
    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .good-list {
    justify-content: flex-start;
  }

  .good-list__item {
    width: 245px;
    margin-right: 80px;
  }

  .good-list__item:nth-child(4n) {
    margin-right: 0;
  }

  .good-list__data,
  .good-list__button {
    width: 168px;
  }
}
