.htmlacademy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 78px;

  @include list-reset();
}

.htmlacademy__text {
  font-size: 16px;
  color: $text-color;
}

.htmlacademy__logo {
  width: 40px;
  margin-top: 5px;
  fill: #666666;
}

.htmlacademy:focus {
  outline: none;
}

.htmlacademy:focus .htmlacademy__logo,
.htmlacademy:hover .htmlacademy__logo {
  fill: #68b738;
}

.htmlacademy:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .htmlacademy {
    min-height: auto;
  }

  .htmlacademy__text {
    margin-right: 16px;
  }
}
