.htmlacademy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 78px;

  @include list-reset();
}

.htmlacademy__link {
  font-size: 16px;
  color: $text-color;
}

.htmlacademy__logo {
  width: 40px;
  margin-top: 5px;
}

@media (min-width: $tablet-width) {
  .htmlacademy {
    min-height: auto;
  }

  .htmlacademy__item--text {
    margin-right: 16px;
  }
}
