.main-header {
  position: relative;
  /*margin-bottom: 22px;*/
  background-color: $white;
}

.main-header:not(.main-header--index) .main-nav__logo:hover {
  opacity: 0.8;
}

.main-header:not(.main-header--index) .main-nav__logo:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .main-header {
    min-height: 105px;
    margin-bottom: 0;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header--index {
    margin-bottom: 80px;
    min-height: 696px;
    background-image: linear-gradient(to right, #ffffff 50%, #63a73a 50%, #63a73a 100%);
  }

  .main-header--index::before {
    content: "";
    position: absolute;
    width: 680px;
    height: 696px;
    top: 0;
    left: 50%;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}
