.other-goods {
  @include list-reset();
  margin-bottom: 39px;
}

.other-goods__item {
  padding-top: 14px;
  padding-bottom: 17px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.other-goods__title {
  margin: 0;
  margin-bottom: 9px;
  font-family: $heading-font;
  color: $heading-color;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.other-goods__table {
  width: 100%;
  margin-bottom: 10px;
}

.other-goods__discr,
.other-goods__price {
  padding: 0;
}

.other-goods__price {
  text-align: right;
}

.other-goods__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: $heading-font;
  color: $white;
  height: 40px;
  font-size: 14px;
  line-height: 18px;
  background-color: $primary-color;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .other-goods {
    margin-bottom: 70px;
  }

  .other-goods__item {
    padding-top: 14px;
    padding-bottom: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 38px;
    padding-right: 38px;
    border: 1px solid #cdcdcd;
  }

  .other-goods__title {
    padding-top: 11px;
    font-size: 20px;
    line-height: 20px;
  }

  .other-goods__table {
    align-self: flex-end;
    width: 227px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .other-goods__discr {
    text-align: right;
  }

  .other-goods__price {
    width: 88px;
  }

  .other-goods__button {
    width: 100%;
    margin-top: 17px;
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .other-goods {
    flex-direction: column;
    width: 895px;
    margin-right: 80px;
  }

  .other-goods__title {
    width: 245px;
    padding: 0;
    margin: 0;
    margin-right: 35px;
  }

  .other-goods__table {
    margin: auto;
    width: 289px;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 44px;
  }

  .other-goods__button {
    width: 245px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8px;
  }

  .other-goods__item {
    min-height: 72px;
    padding: 0;
    border: none;
    border-top: 1px solid #cdcdcd;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  .other-goods__discr {
    text-align: left;
  }
}
