.promo {
  position: relative;
  margin-bottom: 19px;
  padding-top: 3px;
  text-align: center;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px 305px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.promo__title {
  font-family: $heading-font;
  color: $white;
  font-size: 36px;
  line-height: 36px;
  font-weight: 300;
}

.promo__slogan {
  margin-bottom: 30px;
  font-family: $heading-font;
  color: $white;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.promo__img {
  margin-left: 0;
  width: 280px;
}

.promo__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: $primary-color;
}

@media (min-width: $tablet-width) {
  .promo {
    display: flex;
    flex-direction: column;
    /*min-height: 823px;*/
    padding-bottom: 525px;
    margin-bottom: 0px;
    text-align: left;
    background: none;
  }

  .promo__img {
    position: absolute;
    width: 709px;
    bottom: 0;
    left: 30px;
  }

  .promo__title {
    width: 420px;
    margin: 0;
    margin-left: 117px;
    margin-bottom: 24px;
    padding-top: 31px;
    color: #111111;
    font-size: 60px;
    line-height: 60px;
  }

  .promo__slogan {
    margin-left: 118px;
    margin-bottom: 52px;
    color: #111111;
    font-size: 20px;
    line-height: 20px;
  }

  .promo__button {
    width: 244px;
    min-height: 53px;
    margin-left: 119px;
    z-index: 1;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding-bottom: 168px;
  }

  .promo__title {
    padding-top: 90px;
  }

  .promo__slogan {
    max-width: 460px;
  }

  .promo__img {
    width: 550px;
    top: 12px;
    left: 492px;
  }
}
