.request {
  margin-bottom: 31px;
}

// .request .container {
//   padding-right: 20px;
//   padding-left: 20px;
// }

.request__fieldset {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  border: none;
}

.request__fieldset--info,
.request__fieldset--contacts,
.request__fieldset--comments,
.request__fieldset--more {
  padding-right: 20px;
  padding-left: 20px;
}

.request-list {
  @include list-reset();
}

.request-item {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 14px;
}

.request__fieldset--more .request-item {
  margin-bottom: 13px;
}

.request__title {
  width: 100%;
  position: relative;
  margin-bottom: 33px;
  font-family: $heading-font;
  color: $heading-color;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;

  &::before,
  &::after {
    content: "";
    display: block;
    margin: auto;
    position: absolute;
    top: 14px;
  }

  &::before {
    width: 99vw;
    left: 50%;
    margin-left: -50vw;
    height: 3px;
    background-color: $primary-color;
    z-index: -2;
  }

  &::after {
    left: 0;
    width: 267px;
    height: 3px;
    background-color: $white;
    z-index: -1;
  }
}

.request__fieldset--contacts .request__title::after {
  left: -20px;
  width: 221px;
}

.request__fieldset--comments .request__title::after {
  left: -20px;
  width: 162px;
}

.request__fieldset--more .request__title::after {
  left: -20px;
  width: 184px;
}

.request__fieldset--contacts .request-item {
  position: relative;
}

.request__icon {
  position: absolute;
}

.request__icon--email {
  top: 17px;
  right: 16px;
}

.request__icon--tel {
  top: 13px;
  right: 13px;
}

.request__label {
  position: relative;
  margin-right: 14px;
  font-family: $heading-font;
  color: $heading-color;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.request__label--checkbox,
.request__label--radio {
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-left: 45px;
}

.request__label--radio::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.request__label--weight {
  width: 90px;
}

.request__label--age {
  width: 179px;
  margin-right: 7px;
}

.request__label--email {
  width: 73px;
  margin-right: 5px;
}

.request__label--tel {
  width: 62px;
}

.request__input {
  width: 100%;
  padding: 13px 12px 12px 15px;
  font-family: $heading-font;
  color: $text-color;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
}

.request__input--email,
.request__input--tel {
  padding-right: 40px;
}

input[type="radio"]:checked ~ .request__label--radio::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 9px;
  left: 9px;
  background-color: $primary-color;
  border-radius: 50%;
  z-index: 2;
}

.request__input::placeholder {
  font-family: $heading-font;
  color: $text-color;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.request__label--checkbox::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
}

input[type="checkbox"]:checked ~ .request__label--checkbox::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 16px;
  top: 9px;
  left: 5px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.request__button {
  width: 100%;
  margin-bottom: 6px;
  font-family: $heading-font;
  color: $white;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: $primary-color;
  text-transform: uppercase;
}

.request__form-comment {
  text-align: center;
}

.request__fieldset--target {
  margin-bottom: 25px;
}

.request-list--target {
  padding-top: 20px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ededed;
}

.request__fieldset--contacts {
  margin-bottom: 15px;
}

.request__input--textarea {
  min-height: 151px;
}

.request__fieldset--comments {
  margin-bottom: 26px;
}

.request__fieldset--more {
  margin-bottom: 19px;
}

.request__button--wrap {
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .request {
    margin-bottom: 65px;
  }

  .request-item {
    margin-bottom: 20px;
  }

  .request__input {
    padding: 10px 12px 10px 15px;
  }

  .request__label,
  .request__input,
  .request__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .request__fieldset--info,
  .request__fieldset--target,
  .request__fieldset--contacts,
  .request__fieldset--comments,
  .request__fieldset--more {
    margin-left: 30px;
    margin-right: 30px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .request-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .request__fieldset--more .request-item {
    width: 285px;
    margin-bottom: 42px;
  }

  .request__fieldset--more .request-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .request__label--weight {
    width: 96px;
  }

  .request__label--age {
    width: 164px;
  }

  .request__form-comment {
    width: 195px;
    font-size: 16px;
    line-height: 16px;
  }

  .request__fieldset--info {
    margin-bottom: 52px;
  }

  .request__label--radio::before {
    width: 40px;
    height: 40px;
  }

  input[type="radio"]:checked ~ .request__label--radio::after {
    width: 20px;
    height: 20px;
    top: 5px;
    left: 10px;
  }

  .request-list--target {
    padding-top: 29px;
    padding-bottom: 9px;
    padding-left: 28px;
    padding-right: 20px;
  }

  .request-list--target .request-item {
    margin-bottom: 22px;
  }

  .request__title {
    margin-bottom: 77px;
    font-size: 36px;
    line-height: 36px;

    &::before,
    &::after {
      top: 23px;
    }
  }

  .request__fieldset--target {
    margin-bottom: 74px;
  }

  .request__fieldset--contacts {
    margin-bottom: 44px;
  }

  .request__fieldset--comments {
    margin-bottom: 83px;
  }

  .request__label--checkbox,
  .request__label--radio {
    padding-left: 59px;
  }

  .request__label--email {
    width: 91px;
  }

  .request__label--tel {
    width: 84px;
  }

  .request__input--email,
  .request__input--tel {
    padding-left: 19px;
  }

  .request__icon--email {
    top: 20px;
  }

  .request__icon--tel {
    top: 17px;
  }

  .request__label--checkbox::before {
    width: 40px;
    height: 40px;
  }

  input[type="checkbox"]:checked ~ .request__label--checkbox::after {
    top: 8px;
    left: 10px;
  }

  .request__fieldset--more .request__title {
    margin-bottom: 63px;
  }

  .request__button--wrap {
    display: flex;
    margin-left: 40px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .request__button {
    width: 285px;
    min-height: 51px;
    margin-right: 53px;
    font-size: 20px;
    line-height: 20px;
  }

  .request__fieldset--contacts .request__title::after {
    left: -40px;
    width: 593px;
  }

  .request__fieldset--comments .request__title::after {
    left: -39px;
    width: 258px;
  }

  .request__fieldset--more .request__title::after {
    left: -40px;
    width: 291px;
  }
}

@media (min-width: $desktop-width) {
  .request {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 77px;
  }

  .request__fieldset--info,
  .request__fieldset--contacts,
  .request__fieldset--target,
  .request__fieldset--comments,
  .request__fieldset--more {
    padding-right: 0;
    padding-left: 0;
    margin-left: 40px;
    margin-right: 40px;
  }

  .request__fieldset--info,
  .request__fieldset--target {
    width: 570px;
  }

  .request__fieldset--contacts,
  .request__fieldset--comments {
    width: 1220px;
  }

  .request__fieldset--contacts .request-list {
    display: flex;
  }

  .request__fieldset--contacts .request-item {
    width: 570px;
  }

  .request__fieldset--contacts .request-item:first-child {
    margin-right: 80px;
  }

  .request__fieldset--more .request-list {
    margin-bottom: 5px;
  }

  .request__fieldset--more .request-item {
    width: 245px;
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }

  .request__button--wrap {
    padding-right: 40px;
    padding-left: 0;
  }

  .request__label--radio,
  .request__label--checkbox {
    cursor: pointer;
  }

  .request__label--age {
    width: 172px;
  }

  .request__fieldset--info {
    margin-bottom: 48px;
  }

  .request__fieldset--target {
    margin-bottom: 67px;
  }

  .request__fieldset--contacts {
    margin-bottom: 46px;
  }

  .request__fieldset--comments {
    margin-bottom: 61px;
  }

  .request__input--textarea {
    min-height: 175px;
  }

  .request__button {
    width: 570px;
    margin-right: 74px;
  }

  .request__icon--email {
    right: 20px;
  }

  .request__icon--tel {
    right: 19px;
  }

  .request__label--name {
    width: 58px;
  }
}
