.social {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;

  @include list-reset();
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}

.social__link {
  font-size: 0;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__link--vkontakte {
  width: 22px;
  height: 12px;
}

.social__link--instagram {
  width: 16px;
  height: 16px;
  margin-left: 37px;
  margin-right: 40px;
}

.social__link--facebook {
  width: 10px;
  height: 19px;
}

.social__icon {
  fill: #666666;
}

.social__link:focus {
  outline: none;
}

.social__link:focus .social__icon,
.social__link:hover .social__icon {
  fill: #68b738;
}

.social__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social {
    border: none;
    min-height: auto;
  }

  .social__link--vkontakte {
    width: 30px;
    height: 16px;
  }

  .social__link--instagram {
    width: 23px;
    height: 23px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .social__link--facebook {
    width: 14px;
    height: 28px;
  }

  .social__icon--vkontakte {
    width: 30px;
    height: 16px;
  }

  .social__icon--instagram {
      width: 23px;
      height: 23px;
  }

  .social__icon--facebook {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-left: 19px;
  }
}
