// fonts & font's colors
$heading-font: "Oswald", sans-serif;
$heading-color: #111111;
$text-font: "Arial", sans-serif;
$text-color: #444444;

// colors
$primary-color: #68b738;
$white: #ffffff;
$grey: #f2f2f2;

// others
$tablet-width: 768px;
$desktop-width: 1300px;
